body {
    background: linear-gradient(to left, #5774b6, #8e73c2);
}



.Really {
   display: flex;
   justify-content: center;
    margin-top: 60px;
    border: 4px; 
    background: yellow;
    margin-left: 40px;
    color: black;
    width: 150px;

  
 
}

.newton2 {
    
    border: 4px;
    background: linear-gradient(to left, #848eca, #778ec7);
    margin: 20px;
    margin-top: 3em;
    height: 470px;
    width: 230px;
  cursor: pointer;
  transition: 0.3s;
}

.newton {
    
    border: 4px;
    background: linear-gradient(to left, #7d88c6, #948ecb);
    margin: 20px;
    margin-top: 1em;
    height: 570px;
    width: 230px;
  cursor: pointer;
  transition: 0.3s;
}

h1 {
    text-align: center;
       color: white;
       padding-top: 30px;
}

.comon {
    text-align: center;
    
    
}

p {
    
    text-align: center;
    
}

.one {
    text-align: center;
    margin-top: -0.5em;
    
}

.one::after {
    content: '';
    display: inherit;
    width: 70%;
    margin-top: -0.5em;
    margin-left: 35px;
    border-top: 1px solid #DFDFDF;
 }

 .loving {
    margin-bottom: 2em;
 }

h2 {
    text-align: center;
    font-size: 50px
}

.free {
    font-size: 50px;
    margin-top: -0.5em;

    margin-bottom: -1em;
}

.dollar {
    font-size: 50px;
    margin-top: -0.6em;

    margin-bottom: -0.8em;
}


.col {
    display: flex;
    justify-content: center;
}

.imag {
    height: 10px;
  
}

.fish {
 margin-top: -1em;

}



